body {
  background-color: aliceblue;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

footer {
  font-family: "Be Vietnam Pro", sans-serif;
}
